<script src="/scripts/svgo.js"></script>
<script src="/scripts/changeElement.js"></script>
<script type="text/javascript">

  const doTikz = (e) => {
    const postProcessSvg = (e) => {
      const svgEl = e.target;
      let svg = svgEl.outerHTML;
      svg = svg
        .replaceAll(/("#000"|"black")/g, `"var(--text-normal)"`)
        .replaceAll(/("#fff"|"white")/g, `"var(--background-primary)"`);
      svg = optimize_1(svg, {
        plugins: [
          {
            name: "preset-default",
            params: {
              overrides: {
                cleanupIDs: false
              }
            }
          }
        ]
      }).data;
      svgEl.outerHTML = svg;
    };
    document.addEventListener('tikzjax-load-finished', postProcessSvg);
    changeElement('tikz');
    changeElement('chemfig');
  }
  document.addEventListener('DOMContentLoaded', doTikz);
</script>