<script src="/scripts/changeElement.js"></script>
<script src="/scripts/postProcessTikz.js"></script>
<script type="text/javascript">
  const postProcessSvg = (e) => {
    const svg = e.target;
    invertSVGcolors(svg);
  };
	document.addEventListener('tikzjax-load-finished', postProcessSvg);
  changeElement('tikz');
  changeElement('chemfig');
</script>